* {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
}

body {
    background-color: rgba(179, 113, 240, 0.637);
}

#caixa {
    background-color: white;
    margin: auto;
    width: 800px;
    height: 800px;
    box-shadow: 3px 5px 3px rgba(26, 25, 25, 0.568);
}

.topo {
    display: flex;
    background-color: cadetblue;
    width: 795px;
    margin: 5px;
}

.logo {
    width: 200px;
    height: 100px;
    padding: 5px;
}

.login {
    display: flex;
    background-color: brown;
    margin: auto;
    padding: 30px;
}

.corpo {
    background-color: rgba(205, 234, 235, 0.63);
    display: flex;
    width: 780px;
    height: 620px;
    margin: auto;
    padding: 5px;
}

.videos {
    background-color: chocolate;
    width: 760px;
    height: 610px;
    margin: 10px;
}

.formulario {
    background-color: rgba(138, 228, 138, 0.575);
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 10px;
}
